.review {
    font-family: Poppins;
    width: 952px;
    height: 250px;
    backdrop-filter: blur(24px);
    background: rgba(32, 40, 62, 0.8);
    border-radius: 24px;
}

.head {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #8e95a9;
} 

.review__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #c3c8d4;
}

.review__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #767e94;
}