.card_movie {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 8px 8px 16px;
    width: 282px;
    height: 520px;
    backdrop-filter: blur(80px);
    background: rgba(32, 40, 62, 0.8);
}   

.card_movie__title {
    margin-left: 10px;
    font-family: var(--font-family);
    text-align: start;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ebeef5;
}

.card_movie__img {
    width: 266px;
    height: 400px;
}

.card_movie__button{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #7b6ef6;
    transition: 0.3s;
}


.card_movie__button:hover {
    cursor: pointer;
    color: rgb(123, 110, 190);
}

.card_movie__button::before{
    margin-top: 5px;
    content: url("../../../public/like.svg");
}

.rating-button-container {
    position: absolute;
    top: -30px;       
    left: 10px;       
    z-index: 10;        
}
