
.input_field {
    border: 1px solid #323b54;
    border-radius: 12px;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #b6b8c0;
}

.search_field {
    width: 100%;
}


.invalid {
    border-color: red;
}

.invalid:focus{
    outline: none
}

.input_icon{
    position: absolute;
    top: 357px;
    left: 215px;
}


.input_field--movie-search{
    padding-left: 5%;
}




