.wrapper {
    padding-left: 200px;
    padding-right: 190px;
    height: 1880px;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 90px;
    border-radius: 24px;
    padding: 40px;
    width: 1050px;
    height: 70px;
    backdrop-filter: blur(24px);
    background: rgba(32, 40, 62, 0.8);
}

.header__titile {
    margin: 0;
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #ebeef5;
}

.header__button-link{
    position: absolute;
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #beb7fb;
}

.movie {
    margin-top: 80px;
    display: flex;
    gap: 150px;
}

.movie__info {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 10px;
}

.movie__image {
    border-radius: 24px;
    width: 480px;
    height: 720px;
}

.movie__grade {
    padding-top: 10px;
    gap: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffad49;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 8px;
    width: 59px;
    height: 32px;
    backdrop-filter: blur(8px);
    background: rgba(26, 25, 25, 0.4);
}

.movie__grade::before {
    padding-top: 1px;
    content: url('../../../public/star.png') ;
}


.movie__action {
    display: flex;
    align-items: center;
    gap: 20px;
}



.movie__description {
    width: 480px;
    max-height: 224px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}



.movie__category {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.category {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #767e94;
}
.category__info {
    margin: 0;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #c3c8d4;
}


.reviews {
    margin-top: 35px;
}

.reviews__title {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #767e94;
}
