
.search_page__header {
  display: flex;
  flex-direction: column;    
  align-items: start;                                      
}

body:has(.input_field--movie-search) .search_page__body{
    position: relative;
    left: -2%;
}

.search_page__body {
  display: flex;
  gap: 5px;
}



